.article {
  position: relative;
  width: 65vw;
  display: flex;
  flex-direction: row;
  flex-flow: column wrap;
  border: 1px solid white;
  background-color: white;
  margin: 40px 0 10px 0;
  font-size: 0.8rem;
  box-shadow: 12px 17px 51px rgba(82, 94, 92, 0.22);
  height: auto;
  border-radius: 8px;
}
.content > .article {
  min-height: 80vh;
  height: content-box;
}
.article > .article-path {
  position: relative;
  width: 100%;
  padding: 10px;
  height: 100%;
}
.article > .user-path {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  max-width: 35%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: flex-end;
  margin-right: 10px;
}
.article > .article-path > .title-heart > .article-path__title {
  font-size: 1.2rem;
  max-height: 145px;
  color: #1890ff;
  overflow: hidden;
  max-width: 65%;
}
.article > .article-path > .title-heart {
  display: flex;
  flex-direction: row;
  max-width: 65%;
}
.article
  > .article-path
  > .title-heart
  > .article-path__heart
  .article-path__heart-count {
  padding: 2px 0 0 4px;
}
.article > .article-path > .title-heart > .article-path__heart {
  display: flex;
  flex-direction: row;
  padding: 4px 0 0 14px;
  width: 30px;
}
.article > .article-path > .title-heart > .article-path__heart:hover {
  cursor: pointer;
}

.article > .article-path > .user-article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.article > .article-path > .user-article > .article-path__description {
  overflow-wrap: anywhere;
  max-height: 2000px;
  width: 65%;

  color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.article > .article-path > .article-path__text {
  overflow-wrap: anywhere;
  max-height: 100%;
  overflow: hidden;
  //position: absolute;
  //top: 122px;
  translate: 0 22px;
  max-width: 98%;
  height: auto;
}

.article > .user-path > .user-all > .user-path-name-date > .user-path__name {
  font-size: 1.1rem;
  padding-bottom: 5px;
  width: 100px;
}
.article > .user-path > .user-all > .user-path-name-date > .user-path__date {
  color: rgba(0, 0, 0, 0.5);
}
.article > .user-path > .user-all > .user-path__avatar {
  margin-left: 5%;
}
.article > .article-path > .article-path__tags {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 65%;
  max-height: 200px;
}
img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}
p {
  max-width: 100%;
  max-height: 100%;
}
.article > .article-path > .article-path__tags > .tag {
  margin: 1% 1% 1% 0;
  padding: 0 0.5% 0 0.5%;
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  min-height: 12px;
  max-height: 16px;
}
.article-user__button {
  margin: 6px;
}
.user-all {
  display: flex;
  flex-direction: row;
}
.content > .article > .article-path {
  width: calc(100% - 20px);
}
@media (max-width: 719px) {
  .article {
    width: 90vw;
  }
}
