.article {
  position: relative;
  width: 65vw;
  display: flex;
  flex-direction: row;
  border: 1px solid white;
  background-color: white;
  margin: 40px 0 10px 0;
  font-size: 0.8rem;
  box-shadow: 12px 17px 51px rgba(82, 94, 92, 0.22);
}
.article > .article-path {
  width: 100%;
  padding: 10px;
}
.article > .user-path {
  position: absolute;
  top: 0;
  right: 0;
  width: 35%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: flex-end;
}
.article > .article-path > .article-path__title {
  font-size: 1.2rem;
  max-height: 145px;
  color: #1890ff;
  overflow: hidden;
  width: 65%;
}
.article > .article-path > .article-path__description {
  overflow-wrap: anywhere;
  max-height: 2000px;
  max-width: 65%;
  color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.article > .article-path > .article-path__text {
  overflow-wrap: anywhere;
  max-height: 10000px;
  overflow: hidden;
}
.article > .user-path > .user-path-name-date > .user-path__name {
  font-size: 1.1rem;
  padding-bottom: 5px;
  width: 100px;
}
.article > .user-path > .user-path-name-date > .user-path__date {
  color: rgba(0, 0, 0, 0.5);
}
.article > .user-path > .user-path__avatar {
  margin-left: 5%;
}
.article > .article-path > .article-path__tags {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 65%;
}
.article > .article-path > .article-path__tags > .tag {
  margin: 1% 1% 1% 0;
  padding: 0 0.5% 0 0.5%;
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  min-height: 12px;
  max-height: 200px;
}
@media (max-width: 719px) {
  .article {
    width: 90vw;
  }
}
