.form--wrapper {
  margin: 40px auto;
  width: 320px;
  height: auto;
  top: 100px;
  left: 30%;
  background-color: white;
  padding: 32px;
  box-shadow: 12px 17px 51px rgba(82, 94, 92, 0.22);
  border-radius: 4px;
}
.form__h1 {
  font-size: 1.3rem;
  text-align: center;
  font-weight: 500;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.label {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 0.86rem;
  padding: 0 0 12px 0;
}
.form__input {
  height: 40px;
  border: 1px solid #bfbfbf;
  border-radius: 4px;
  margin: 0;
  padding: 0 0 0 10px;
}
.input--textarea {
  min-height: 168px;
  padding: 10px 0 0 10px;
}
.form__error > p {
  margin: 0;
  padding: 0;
  color: red;
  font-size: 0.86rem;
}

.form__button--submit {
  width: 319px;
  height: 40px;
  background-color: #1890ff;
  color: white;
  border-radius: 4px;
}
.form__button--delete {
  width: 120px;
  height: 40px;
  background-color: transparent;
  color: red;
  border: 1px solid red;
  border-radius: 4px;
  margin: 0 0 6px 16px;
}
.form__button--add {
  width: 120px;
  height: 40px;
  background-color: transparent;
  color: #1890ff;
  border: 1px solid #1890ff;
  border-radius: 4px;
  margin: 12px 0 6px 0;
}

.link--sign {
  font-size: 0.76rem;
  text-align: center;
  color: #bfbfbf;
}
.link--sign > a {
  color: #1890ff !important;
}
.tag-text:hover {
  cursor: default;
}
