.header {
  background-color: white;
  box-shadow: 12px 17px 51px rgba(82, 94, 92, 0.22);
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 80px;
  font-size: 1.2rem;
}
.header > a {
  text-align: center;
  vertical-align: center;
}
.button--home {
  translate: 20px;
}
.button--home:hover,
.button--sign-in:hover {
  border: 1px solid #bfbfbf;
  border-radius: 4px;
  transition: all 0.2s;
  cursor: pointer;
}
.header-link {
  margin: 25px 0 25px 0;
}
.header-button {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: center;
}
.header__info-panel {
  display: flex;
  align-items: center;
  vertical-align: center;
  margin-right: 22px;
}

.header__profile {
  display: flex;
  flex-direction: row;
  width: 150px;

  align-items: center;
  justify-content: center;
}
.header__profile:hover {
  cursor: pointer;
}
.header__text {
  padding-left: 22px;
}
.button--sign-up,
.button--sign-in {
  width: 109px;
  height: 51px;
}

.login-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.button--logout {
  width: 109px;
  height: 51px;
  text-align: center;
  align-self: center;
  border: 1px solid #bfbfbf;
  border-radius: 4px;
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  margin: 15px;
  cursor: pointer;
}

.button--logout:hover {
  transform: scale(1.03);
  transition: scale 0.2s;
}
