.input--repeat-password {
  margin-bottom: 20px;
}
.label__checkbox {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #bfbfbf;
  padding: 10px 0 10px 0;
  font-size: 0.86rem;
}
.checkbox {
  width: 16px;
  padding: 0;
  margin: 0 10px 12px 0;
}
.link--sign > a {
  color: #1890ff;
}
